name: CD

# Configures this workflow to run every time a change is pushed to the branch called `release`.
on:
  push:
    branches: [ "master" ]

# There is a single job in this workflow. It's configured to run on the latest available version of Ubuntu.
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: pip
          cache-dependency-path: .pre-commit-config.yaml
      - uses: asdf-vm/actions/install@v4.0.0
      - uses: pre-commit/action@v3.0.1
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: asdf-vm/actions/install@v4.0.0
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '20.x'
          cache: 'pnpm'
      - run: pnpm install
      - run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
      - run: pnpm test
  release:
    needs: [ 'test', 'pre-commit' ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: asdf-vm/actions/install@v4.0.0
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '20.x'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run semantic-release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
